version: 2.1

orbs:
  architect: giantswarm/architect@4.10.1

workflows:
  build:
    jobs:
      - architect/push-to-docker:
          context: architect
          name: push-dns-tester-to-docker
          image: "quay.io/giantswarm/dns-tester"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: architect
          name: push-dns-tester-to-playground-app-catalog
          app_catalog: "playground-catalog"
          app_catalog_test: "playground-test-catalog"
          chart: "dns-tester-app"
          filters:
            tags:
              only: /^v.*/
