version: 2.1

orbs:
  architect: giantswarm/architect@4.38.0

workflows:
  build:
    jobs:
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: architect
          name: push-dns-tester-to-playground-app-catalog
          app_catalog: "giantswarm-playground-catalog"
          app_catalog_test: "giantswarm-playground-test-catalog"
          chart: "dns-tester-app"
          filters:
            tags:
              only: /^v.*/
